
*{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    background-color: black;
    width: 100%;
    height: 100vh;
}
#nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    font-size: 14px;
}
#nav-bar a{
    text-decoration: none;
    
}

#heading {
    margin-top: 40px;
    padding-left: 20px;
    font-size: 7.5vw;
    line-height: 1;
    text-transform: uppercase;

}
#heading h1{
    opacity: 0.6;
    
}
#line2 {
    width: fit-content;
    padding-left: 7vw;
}

#line2 h5{
    opacity: 1;
    text-align: right;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 400;
}
#downhead{
    text-transform: uppercase;
    text-align: right;
    font-size: 1.5vw;
    /* position: relative;
    top: 40px;
    right: 40px; */
    padding: 40px 20px;
    
}
#highlight{
    
}
#footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding-bottom: 100px;
}

#footleft{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    gap: 20vw;
    
}

#footright{
    display: flex;
    align-items: center ;
    padding-right: 40px;
}
#footright i{
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px white solid;
    background-color: #777777aa;
}

#footleft a{
    text-transform: uppercase;
    text-decoration: none;
}

#element{
    background-color: black;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
}
#elem{

    width: 94%;
    margin: 0px 3vw;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px rgba(255, 255, 255, 0.543) solid;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}

#elem #lightstar{
    opacity: 0.3;
}

.elemlast{
    border-bottom: 1px rgba(255, 255, 255, 0.374) solid;
}

#about{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about h2{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.518);
    border-radius: 8px;
}

#aboutme{
    width: 40vw;

    
}
#footerlast{
    background-color: black;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 40px;
}

#footerleft{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#socials{
    margin: 50px;
    display: flex;
    align-items: Center;
    gap: 20px;
}

